In [14]:
import pandas as pd

In [15]:
df1 = pd.read_csv("../Data/n_data_with_score.csv")
df2 = pd.read_csv("../Data/dessert.csv")
df = pd.merge(df1, df2, left_on='id', right_on='business_id')[["id", "name", "word", "pos.neg", "ratio", "score"]]

In [16]:
df.head()

,id,name,word,pos.neg,ratio,score
0,lpel3pRFAzlow7u2TJMz4Q,Humble Wine Bar,hostess,"['neg', 'pos']",14.9,0.0
1,lpel3pRFAzlow7u2TJMz4Q,Humble Wine Bar,hostess,"['neg', 'pos']",14.9,0.0
2,lpel3pRFAzlow7u2TJMz4Q,Humble Wine Bar,hostess,"['neg', 'pos']",14.9,0.0
3,lpel3pRFAzlow7u2TJMz4Q,Humble Wine Bar,hostess,"['neg', 'pos']",14.9,0.0
4,lpel3pRFAzlow7u2TJMz4Q,Humble Wine Bar,hostess,"['neg', 'pos']",14.9,0.0

In [18]:
df.to_csv("../Data/sentiment.csv")