In [19]:
import pandas as pd
import os


# Read json files
review = pd.read_json('../Data/review_city.json',lines=True)
business = pd.read_json('../Data/business_city.json',lines=True)
tip = pd.read_json('../Data/tip_city.json',lines=True)
user = pd.read_json('../Data/user_city.json',lines=True)

In [20]:
business.shape

(36327, 14)

In [21]:
business.shape

(36327, 14)

In [22]:
business.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."

In [23]:
review.head(2)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47

In [24]:
business.isnull().sum()

business_id        0
name               0
address            0
city               0
state              0
postal_code        0
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes      4678
categories        95
hours           7859
dtype: int64

In [25]:
review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [26]:
# Merge the business dataset and review dataset
data = pd.merge(review,business,left_on='business_id',right_on='business_id')

In [27]:
data.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
1,4jMOeTiqNXQ8bpmFdWoFUQ,zFCuveEe6M-ijY1iy23IJg,HQl28KMwrEKHqhFrrDqVNQ,5,6,2,5,"We walked into Melt. ""Did you want to put your...",2011-08-25 04:24:23,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
2,wHrtQRyk0ypungXd6hT8nQ,4V985R3RG-rv0B7WCPQzeQ,HQl28KMwrEKHqhFrrDqVNQ,1,1,0,0,I commented on how slow the service was last A...,2015-03-04 20:37:43,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
3,DTb3X5aVOGQ8HHCSAr87wA,nFGcoL6wuPQzxsNJVSfGrA,HQl28KMwrEKHqhFrrDqVNQ,4,2,0,0,We walked in off the streets on a September ni...,2014-09-10 01:38:55,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
4,NPyAutqgU_zIZBSnycJd6w,CJqgUQeWhdgbDyLAFy7xvQ,HQl28KMwrEKHqhFrrDqVNQ,4,0,0,0,Brunch on Saturday was excellent. The Bloody M...,2018-01-21 18:50:29,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."

In [28]:
data.isnull().sum()

review_id           0
user_id             0
business_id         0
stars_x             0
useful              0
funny               0
cool                0
text                0
date                0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars_y             0
review_count        0
is_open             0
attributes      29210
categories        333
hours           75404
dtype: int64

In [29]:
data.loc[15000,'text']

"Awesome dessert spot! Staff is always helpful and the waffles speak for themselves. If you're here debating on going: get in your car and drive yourself here for some waffles already!"

In [30]:
data = data[-data['categories'].isnull()]

In [31]:
# Filter the data whose business contain desserts
filt = filter(lambda x: True if 'desserts' in data.loc[x,'categories'].lower() else False, data.index.values)
dessert = data.loc[list(filt),:]
dessert.shape

(36118, 22)

In [32]:
dessert.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [33]:
# Drop useless attributes
dessert_clean = dessert.drop(['cool','date','funny','useful','address','postal_code','is_open','hours','latitude','longitude'],axis = 1)
dessert_clean.head()

,review_id,user_id,business_id,stars_x,text,name,city,state,stars_y,review_count,attributes,categories
4908,EDQpLLFiAxeSxWI5ipwzBQ,SkueY7hVsyXmYItELoodGw,lpel3pRFAzlow7u2TJMz4Q,4,The server had an extensive knowledge of wines...,Humble Wine Bar,Lakewood,OH,4.0,153,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res..."
4909,c4_BcnjSLtBuF_3O4JNnfA,mXQjS9WLNzHlb8R45VinIw,lpel3pRFAzlow7u2TJMz4Q,5,If you come on a Friday or Saturday after 6 or...,Humble Wine Bar,Lakewood,OH,4.0,153,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res..."
4910,x4OI8tEvVEnNDyZgQeE-IA,NfU0zDaTMEQ4-X9dbQWd9A,lpel3pRFAzlow7u2TJMz4Q,5,Where Humble may have fallen short for other Y...,Humble Wine Bar,Lakewood,OH,4.0,153,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res..."
4911,QTFqdSSoFD-aNHL_bhK8_A,iqrrTyAO0NABo18XBNJbNA,lpel3pRFAzlow7u2TJMz4Q,5,I absolutely knew I would love this wine bar f...,Humble Wine Bar,Lakewood,OH,4.0,153,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res..."
4912,5dmfqkT8CSKO81UuXFGI4A,Hp7XX4n76TdAKsIH9JUxJw,lpel3pRFAzlow7u2TJMz4Q,5,I first visited Humble with my girlfriends sho...,Humble Wine Bar,Lakewood,OH,4.0,153,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res..."

In [35]:
dessert_clean.to_csv('../Data/dessert.csv')