In [120]:
import pandas as pd

# Read json files
review = pd.read_json('/Users/65733/Desktop/STAT628/Module_3/Fall2020_Stat628/Data/review_city.json',lines=True)
business = pd.read_json('/Users/65733/Desktop/STAT628/Module_3/Fall2020_Stat628/Data/business_city.json',lines=True)
tip = pd.read_json('/Users/65733/Desktop/STAT628/Module_3/Fall2020_Stat628/Data/tip_city.json',lines=True)
user = pd.read_json('/Users/65733/Desktop/STAT628/Module_3/Fall2020_Stat628/Data/user_city.json',lines=True)

In [121]:
review.shape

(942027, 9)

In [122]:
business.shape

(36327, 14)

In [58]:
business.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,404 E Green St,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",pQeaRpvuhoEqudo3uymHIQ,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Champaign,"{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",1,40.110446,-88.233073,The Empanadas House,61820,5,4.5,IL
1,1110 Saw Mill Run Blvd,{'BusinessAcceptsCreditCards': 'True'},7Dv4_HAxsxvadEsT5fxQBg,"Automotive, Auto Repair",Pittsburgh,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,40.406667,-80.004450,Dependable Brakes & Exhaust,15226,5,5.0,PA

In [59]:
review.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q
1,ZlCSsWS07JulSBIQlrbF5w,0,2015-05-26 10:36:47,0,qWHp2l2lysENZObh6MAulA,5,Called for a 5:15 morning reservation. The dri...,1,5lb0POg2t-AkMFx6603cYQ

In [123]:
business.isnull().sum()

address            0
attributes      4678
business_id        0
categories        95
city               0
hours           7859
is_open            0
latitude           0
longitude          0
name               0
postal_code        0
review_count       0
stars              0
state              0
dtype: int64

In [62]:
review.isnull().sum()

business_id    0
cool           0
date           0
funny          0
review_id      0
stars          0
text           0
useful         0
user_id        0
dtype: int64

In [124]:
# Merge the business dataset and review dataset
data = pd.merge(review,business,left_on='business_id',right_on='business_id')

In [125]:
data.head()

,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,address,...,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars_y,state
0,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q,14810 Detroit Ave,...,Lakewood,"{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...",1,41.485192,-81.800145,Deagan's Kitchen & Bar,44107,417,4.0,OH
1,HQl28KMwrEKHqhFrrDqVNQ,5,2011-08-25 04:24:23,2,4jMOeTiqNXQ8bpmFdWoFUQ,5,"We walked into Melt. ""Did you want to put your...",6,zFCuveEe6M-ijY1iy23IJg,14810 Detroit Ave,...,Lakewood,"{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...",1,41.485192,-81.800145,Deagan's Kitchen & Bar,44107,417,4.0,OH
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-03-04 20:37:43,0,wHrtQRyk0ypungXd6hT8nQ,1,I commented on how slow the service was last A...,1,4V985R3RG-rv0B7WCPQzeQ,14810 Detroit Ave,...,Lakewood,"{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...",1,41.485192,-81.800145,Deagan's Kitchen & Bar,44107,417,4.0,OH
3,HQl28KMwrEKHqhFrrDqVNQ,0,2014-09-10 01:38:55,0,DTb3X5aVOGQ8HHCSAr87wA,4,We walked in off the streets on a September ni...,2,nFGcoL6wuPQzxsNJVSfGrA,14810 Detroit Ave,...,Lakewood,"{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...",1,41.485192,-81.800145,Deagan's Kitchen & Bar,44107,417,4.0,OH
4,HQl28KMwrEKHqhFrrDqVNQ,0,2018-01-21 18:50:29,0,NPyAutqgU_zIZBSnycJd6w,4,Brunch on Saturday was excellent. The Bloody M...,0,CJqgUQeWhdgbDyLAFy7xvQ,14810 Detroit Ave,...,Lakewood,"{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...",1,41.485192,-81.800145,Deagan's Kitchen & Bar,44107,417,4.0,OH

In [126]:
data.isnull().sum()

business_id         0
cool                0
date                0
funny               0
review_id           0
stars_x             0
text                0
useful              0
user_id             0
address             0
attributes      29210
categories        333
city                0
hours           75404
is_open             0
latitude            0
longitude           0
name                0
postal_code         0
review_count        0
stars_y             0
state               0
dtype: int64

In [142]:
data.loc[15000,'text']

"Awesome dessert spot! Staff is always helpful and the waffles speak for themselves. If you're here debating on going: get in your car and drive yourself here for some waffles already!"

In [133]:
data = data[-data['categories'].isnull()]

In [143]:
# Filter the data whose business contain desserts
filt = filter(lambda x: True if 'desserts' in data.loc[x,'categories'].lower() else False, data.index.values)
dessert = data.loc[list(filt),:]
dessert.shape

(36118, 22)

In [145]:
dessert.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars_x', 'text',
       'useful', 'user_id', 'address', 'attributes', 'categories', 'city',
       'hours', 'is_open', 'latitude', 'longitude', 'name', 'postal_code',
       'review_count', 'stars_y', 'state'],
      dtype='object')

In [149]:
# Drop useless attributes
dessert_clean = dessert.drop(['cool','date','funny','useful','address','postal_code','is_open','hours','latitude','longitude'],axis = 1)
dessert_clean.head()

,business_id,review_id,stars_x,text,user_id,attributes,categories,city,name,review_count,stars_y,state
4908,lpel3pRFAzlow7u2TJMz4Q,EDQpLLFiAxeSxWI5ipwzBQ,4,The server had an extensive knowledge of wines...,SkueY7hVsyXmYItELoodGw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
4909,lpel3pRFAzlow7u2TJMz4Q,c4_BcnjSLtBuF_3O4JNnfA,5,If you come on a Friday or Saturday after 6 or...,mXQjS9WLNzHlb8R45VinIw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
4910,lpel3pRFAzlow7u2TJMz4Q,x4OI8tEvVEnNDyZgQeE-IA,5,Where Humble may have fallen short for other Y...,NfU0zDaTMEQ4-X9dbQWd9A,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
4911,lpel3pRFAzlow7u2TJMz4Q,QTFqdSSoFD-aNHL_bhK8_A,5,I absolutely knew I would love this wine bar f...,iqrrTyAO0NABo18XBNJbNA,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
4912,lpel3pRFAzlow7u2TJMz4Q,5dmfqkT8CSKO81UuXFGI4A,5,I first visited Humble with my girlfriends sho...,Hp7XX4n76TdAKsIH9JUxJw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH

In [150]:
dessert_clean.to_csv('dessert.csv')

In [171]:
# Make comments to lowercase
comment = list(dessert_clean.text)
comment = [i.lower() for i in comment]

In [176]:
# Remove all punctuations for the comments
import string

remove = str.maketrans('','',string.punctuation)
without_punctuation = [i.translate(remove) for i in comment]

In [178]:
# Tokenize
import nltk
# nltk.download('punkt')

tokenize = [nltk.word_tokenize(i) for i in without_punctuation]

In [188]:
# Remove stopwords
# nltk.download('stopwords')
from nltk.corpus import stopwords

stop = set(stopwords.words('english')) 
words = [[i for i in j if i not in stop] for j in tokenize]

In [191]:
# Stemming
#from nltk.stem.porter import PorterStemmer

#porter = PorterStemmer()
#stemmed = [[porter.stem(i) for i in j] for j in words]

In [198]:
# Lemmatization
from nltk.stem.wordnet import WordNetLemmatizer
# nltk.download('wordnet')

lem = WordNetLemmatizer()
lemmed = [[lem.lemmatize(i) for i in j] for j in words]

In [211]:
dessert_clean['text'] = lemmed
dessert_clean.reset_index(drop=True, inplace=True)

In [210]:
dessert_clean.head()

,business_id,review_id,stars_x,text,user_id,attributes,categories,city,name,review_count,stars_y,state
0,lpel3pRFAzlow7u2TJMz4Q,EDQpLLFiAxeSxWI5ipwzBQ,4,"[server, extensive, knowledge, wine, various, ...",SkueY7hVsyXmYItELoodGw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
1,lpel3pRFAzlow7u2TJMz4Q,c4_BcnjSLtBuF_3O4JNnfA,5,"[come, friday, saturday, 6, 7pm, expect, bit, ...",mXQjS9WLNzHlb8R45VinIw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
2,lpel3pRFAzlow7u2TJMz4Q,x4OI8tEvVEnNDyZgQeE-IA,5,"[humble, may, fallen, short, yelpers, past, su...",NfU0zDaTMEQ4-X9dbQWd9A,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
3,lpel3pRFAzlow7u2TJMz4Q,QTFqdSSoFD-aNHL_bhK8_A,5,"[absolutely, knew, would, love, wine, bar, mom...",iqrrTyAO0NABo18XBNJbNA,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH
4,lpel3pRFAzlow7u2TJMz4Q,5dmfqkT8CSKO81UuXFGI4A,5,"[first, visited, humble, girlfriend, shortly, ...",Hp7XX4n76TdAKsIH9JUxJw,"{'HasTV': 'True', 'Alcohol': 'u'full_bar'', 'B...","Food, Tapas/Small Plates, Vegan, Desserts, Res...",Lakewood,Humble Wine Bar,153,4.0,OH

In [212]:
dessert_clean.to_csv('dessert_clean.csv')

In [257]:
alltext = [[i for i in j] for j in dessert_clean['text']]

In [269]:
a = []
for i in dessert_clean['text']:
    for j in i:
        a.append(j)

In [275]:
import collections
count = collections.Counter(a)
count.most_common(30)

[('place', 20792),
 ('good', 20644),
 ('food', 19132),
 ('great', 15649),
 ('time', 13363),
 ('like', 12895),
 ('one', 12370),
 ('get', 11116),
 ('service', 10699),
 ('back', 9693),
 ('really', 9627),
 ('would', 9597),
 ('go', 9518),
 ('also', 9222),
 ('cream', 8508),
 ('delicious', 8261),
 ('got', 7650),
 ('ordered', 7471),
 ('ice', 7344),
 ('flavor', 7309),
 ('love', 7167),
 ('restaurant', 6961),
 ('order', 6893),
 ('best', 6876),
 ('ive', 6770),
 ('try', 6713),
 ('chocolate', 6597),
 ('well', 6595),
 ('cake', 6549),
 ('nice', 6536)]